@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;0,900;1,600;1,700;1,800&display=swap');
$priF: 'Poppins', sans-serif;

body {
	color: rgb(176, 180, 192);
	background-color: rgb(49, 57, 75);
	font-family: $priF;
}

.App {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
	font-family: $priF !important;
}

input,
textarea {
	font-family: $priF;
}

textarea {
	font-weight: 500 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#notesList::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#notesList {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow: scroll;
}
